.card-header {
    border-bottom: 1px solid #ebedf2 !important;
}

.card {
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05) !important;
    -moz-box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05) !important;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05) !important;
    border-radius: 4px !important;
}

.content-wrapper {
    padding-top: 16px !important;
}

.control-sidebar-light {
    background-color: white !important;
    border-style: none !important;
    border-color: white !important;
}

.control-sidebar {
    z-index: 2000 !important;
}

.control-sidebar-content {
    -webkit-box-shadow: -15px 0 20px -1px rgba(82, 63, 105, 0.1) !important;
    -moz-box-shadow: -15px 0 20px -1px rgba(82, 63, 105, 0.1) !important;
    box-shadow: -15px 0 20px -1px rgba(82, 63, 105, 0.1) !important;
}

.control-sidebar .card {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.brand-link {
    border: 0 !important;
    color: white !important;
    height: 58px;
}

.main-header {
    background-color: #ffffff !important;
    border-bottom: 1px solid #eff0f6 !important;
    -webkit-box-shadow: 0 10px 30px -1px rgba(82, 63, 105, 0.1) !important;
    -moz-box-shadow: 0 10px 30px -1px rgba(82, 63, 105, 0.1) !important;
    box-shadow: 0 10px 30px -1px rgba(82, 63, 105, 0.1) !important;
}

.sub-header {
    margin-bottom: 20px;
}

.btn-light {
    background-color: white !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.shinyhelper-wrapper {
    width: 300px;
    max-width: 100%;
}

hr {
    border-top: 1px solid #f0f0f0;
}

body {
    background-color: #f2f3f8;
}

.modal-header {
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
}

.plotly {
    height: inherit !important;
}