.card-header {
    border-bottom: 1px solid #ebedf2;
}

.card {
    -webkit-box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    border-radius: 4px;
}

.content-wrapper {
    background-color: #f2f3f8;
    padding-top: 16px;
}

.main-sidebar {
    background-color: #242939;
    bottom: 0 !important;
    float: none !important;
    height: 100vh !important;
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
}

.sidebar {
    padding-top: 4.5rem;
    height: 100%;
}

.brand-link {
    background-color: #242939 !important;
    border: 0 !important;
    color: white !important;
}

.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #eff0f6;
    -webkit-box-shadow: 0 0 40px 0 rgba(82, 63, 105, 0.1);
    box-shadow: 0 0 40px 0 rgba(82, 63, 105, 0.1);
}

.sub-header {
    margin-bottom: 20px;
}

.btn-light {
    background-color: white !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.shinyhelper-wrapper {
    width: 300px;
    max-width: 100%;
}

hr {
    border-top: 1px solid #f0f0f0;
}

body {
    background-color: #f2f3f8;
}
